<template>
  <div id="home_main">
    <div class="home_header">
      <div class="pro">
        <h4>接管进度</h4>
      </div>
      <div class="instruction">
        <div class="" v-for="(item,index) in define_name_color" :key="index">
          <!-- <span class="" :style="{ color: activeColor, fontSize: fontSize + 'px' ,background: item.color}"></span><span class="">{{item.stage_name}}</span> -->
          <span class="" :style="{ background: item.color}"></span><span class="">{{item.stage_name}}</span>

        </div>
      </div>
    </div>
    <div class="home_body">
      <!-- <div v-if="showMe"> -->
      <!-- <div ng-init="showMe=true"> -->
      <div>
        <div class='expander'>
          <!-- <div class="title" v-class="showMe?'active':''"> -->
          <div class="title">
            <div class="title_flex">
              <div class="title_th1">
                <span>单位名称</span>
              </div>
              <div class="title_th2">
                接管进度
              </div>
              <div class="title_th3">
                状态
              </div>
            </div>

          </div>
          <!-- <div class="body" ng-show="showMe"> -->
          <div class="body">
            <div class="title_flex" v-for="(item,index) in progressList" :key="index">
              <div class="title_th1">
                <span>{{ item.twb_name }}</span>
              </div>
              <div class="title_th2">
                <div class="project_start" :style="{width: item.project_start*500+'px' }">
                  <div class="takeover_survey" :style="{width: item.takeover_survey*500+'px'}">
                    <div class="co_manage_stage" :style="{width:  (item.co_manage_stage || item.migrate_stage) ? (item.co_manage_stage*500 || item.migrate_stage*500) :0+'px'}">
                      <div class="migrate_stage" :style="{width: item.migrate_stage*500+'px'}">
                        <div class="migrate_progress" :style="{width: item.migrate_progress*500+'px'}"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="title_th3">
                <div class="">
                  <span class="" :style="{background: define_name_color[0].color}"></span>
                  <span>[{{ item.project_start*100+'%'}}]</span>
                </div>
                <div class="">
                  <span class="" :style="{background: define_name_color[1].color}"></span>
                  <span>[{{ item.takeover_survey*100+'%'}}]</span>
                </div>
                <div class="">
                  <span class="" :style="{background: define_name_color[2].color}"></span>
                  <span>[{{ ((item.co_manage_stage || item.migrate_stage) ? (item.co_manage_stage || item.migrate_stage) :0)*100+'%'}}]</span>
                </div>
                <div class="">
                  <span class="" :style="{background: define_name_color[3].color}"></span>
                  <span>[{{ item.migrate_stage*100+'%'}}]</span>
                </div>
                <div class="">
                  <span class="" :style="{background: define_name_color[4].color}"></span>
                  <span>[{{ item.migrate_progress*100+'%'}}]</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <Table border :columns="columns7" :data="data6"></Table>
          <input type="text" v-model="DjangoCookie"> -->
</template>

<script>
  // import Vue from 'vue'
  export default {
    name: 'Index',
    data() {
      return {
        search_progress_data_parameter : {
            twb_name: ''
        },
        activeColor:'',
        fontSize:'',
        progressList:[],
        define_name_color:[{
            'stage_name':'项目启动',
            'color':'pink',
        },{
            'stage_name':'接管调研',
            'color':'skyblue',
        },{
            'stage_name':'共管阶段',
            'color':'#7a8def',
        },{
            'stage_name':'迁移阶段',
            'color':'#48d64e',
        },{
            'stage_name':'迁移进度',
            'color':'red',
        }],
      }
    },
    beforeCreate() {

    },
    created: function() {
      // let self = this;
      this.search();
    },
    mounted() {
      let self = this;
      // this.$http({url:'/search_progress_data',  
      //         method:'post',  
      //         data:{
      //             twb_name: '',
      //         },  
      //       headers:{'Content-Type': "application/x-www-form-urlencoded"}}  
      //   //       {headers:{'Access-Control-Allow-Origin': "*"}}  
      //   ).then((res)=>{
      //     self.progressList=res.data
      //     console.log('tag进度表数据：', res.data)
      //     // success callback
      //   },(res)=>{
      //     console.log("error");
      //     // error callback
      //   })


    },

    methods: {
      search() {
        console.log('document.cookiedocument.cookie', document.cookie)
        let self = this
        // {params: params,headers:{"sn":"201021622343"}}
        // 
        // this.$http({url:'/search_progress_data',  
        this.$http({url:'/test/',  
              method:'post',  
              data:{
                  twb_name: '',
              },  
            headers:{'Content-Type': "application/x-www-form-urlencoded"}}  
        //       {headers:{'Access-Control-Allow-Origin': "*"}}  
        ).then((res)=>{
          self.progressList=res.data
          console.log('tag进度表数据：', res.data)
          // success callback
        },(res)=>{
          console.log("error");
          // error callback
        })
        this.$http({url:'/test/',  
              method:'get',  
              data:{
                  twb_name: '',
              },  
            headers:{'Content-Type': "application/x-www-form-urlencoded"}}  
        //       {headers:{'Access-Control-Allow-Origin': "*"}}  
        ).then((res)=>{
          self.progressList=res.data
          console.log('tag进度表数据：', res.data)
          // success callback
        },(res)=>{
          console.log("error");
          // error callback
        })

      },

    }
  }
</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang='scss'>
  #home_main {
    height: 100%;
    /*overflow: scroll;*/
    padding-left: 50px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    padding-bottom: 20px;
    margin-left: 10px;
  }

  #home_main>.home_header {
    /*display: flex;*/
    height: 45px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  #home_main>.home_body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  #home_main>.home_header>.pro {
    height: 30px;
  }

  #home_main .home_header div h4 {
    // margin-bottom: 10px;
    margin-top: 10px;
    /*box-shadow: 0px 2px 4px #eee;*/
    height: 30px;
    line-height: 30px;
    font-weight: 500;
    font-size: 17px;
  }

  #home_main .home_header>div.instruction {
    position: fixed;
    width: 200px;
    position: fixed;
    top: 160px;
    left: 1160px;
  }
  #home_main .home_header>div.instruction>div {
    margin: auto;
  }
  #home_main .home_header>div.instruction>div>span:nth-child(1) {
    display: inline-block;
    width: 20px;
    height: 10px;
  }
  .expander>.title>.title_flex {
    display: flex;
    align-content: space-between;
    color: white;
  }
  .expander>.title>.title_flex>div {
    height: 40px;
    line-height: 40px;
    background: #0252D8;
  }
  .expander>.body {
    height: 434px;
    overflow-y: scroll;
  }


::-webkit-scrollbar-track-piece {
  /* //滚动条凹槽的颜色，还可以设置边框属性 */
background-color:#f8f8f8;
}
::-webkit-scrollbar {
  /* //滚动条的宽度 */
width:9px;
height:9px;
}
::-webkit-scrollbar-thumb {
  /* //滚动条的设置 */
background-color:#dddddd;
background-clip:padding-box;
min-height:28px;
}
::-webkit-scrollbar-thumb:hover {
background-color:#bbb;
}


::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: rgba(255, 255, 255, .07);
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(11, 54, 106, .52);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .5);
}
::selection {
    background: #0099cc;
    color: white;
    text-shadow: none;
}


// .expander>.body::-webkit-scrollbar {
//  width: 8px;
// }
// .expander>.body::-webkit-scrollbar-track {
//  background-color:red;
//  -webkit-border-radius: 2em;
//  -moz-border-radius: 2em;
//  border-radius:2em;
// }
// .expander>.body::-webkit-scrollbar-thumb {
//  background-color:green;
//  -webkit-border-radius: 2em;
//  -moz-border-radius: 2em;
//  border-radius:2em;
// }


  .expander>.body>.title_flex {
    display: flex;
    align-content: space-between;
    /*background: #0252D8;*/
    color: black;
  }
  .title_flex div span.zk {
    font-size: 20px;
    color: #29f5d9;
  }
  .title_flex div.title_th1 {
    width: 120px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #BDBDBD;
    height: 62px;
    line-height: 62px;
  }

  .title_flex div.title_th2 {
    width: 500px;
    padding-left: 10px;
    border: 1px solid #BDBDBD;
  }

  .title_flex div.title_th3 {
    padding-left: 10px;
    width: 240px;
    border: 1px solid #BDBDBD;
  }

  .expander>.body>.title_flex .title_th2 {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
  }

  .expander>.body>.title_flex .title_th2>.project_start {
    margin: 0px;
    padding: 0px;
    /*box-sizing: border-box;*/
    background: pink;
    height: 60px;
    display: flex;
    align-items: center;
  }

  .expander>.body>.title_flex .title_th2>.project_start .takeover_survey {
    background: skyblue;
    /*width: 400px;*/
    height: 40px;
    display: flex;
    align-items: center;
  }

  .expander>.body>.title_flex .title_th2>.project_start .takeover_survey .co_manage_stage {
    /*background: orange;*/
    background: #7a8def;
    /*width: 300px;*/
    height: 40px;
    display: flex;
    align-items: center;
  }

  .expander>.body>.title_flex .title_th2>.project_start .takeover_survey .co_manage_stage .migrate_stage {
    /*background: #00ff00;*/
    background: #48d64e;
    /*width: 200px;*/
    height: 25px;
    display: flex;
    align-items: center;
  }

  .expander>.body>.title_flex .title_th2>.project_start .takeover_survey .co_manage_stage .migrate_stage .migrate_progress {
    background: red;
    height: 25px;
  }

  .expander>.body>.title_flex .title_th3>div {
    display: inline-block;
    width: 110px;
    margin-right: 2px;
  }

  .expander>.body>.title_flex .title_th3>div>span:nth-child(1) {
    display: inline-block;
    width: 10px;
    height: 10px;
  }

</style>
