<template>
  <!-- <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
    </div>
    <router-view/>
  </div> -->
    <div id="app">
    <div class="layout">
      <Layout>
        <Header>
          <div class="header-info">
            <div class="header-left">
              <a href="/#/">接管资源库</a>
            </div>
            <div class="header-right">
              <!-- http://dev.sgis.com:8000/account/logout/ -->
              <a href="/account/logout/">ICON退出</a>
            </div>
          </div>

        </Header>
        <Layout>
          <div class="bg"></div>
            <Sider hide-trigger width='240' >
                    <Menu :theme="theme2" :open-names="['1']" accordion>
                      <Submenu name="1">
                          <template slot="title" @click.native="goTo('/')">
                              <Icon type="ios-paper" />
                              首页
                              <!-- <a href="/#/">内容管理</a> -->
                          </template>
                          <!-- <MenuItem name="1-1"  @click.native="goTo('/')">
                          列表</MenuItem> -->
                          <!-- <router-link to="/about">列表</router-link> -->
                          <!-- <a href="/#/nav_left_1_1">文章管理</a> -->
                          <!-- 现在在组件上使用 v-on 只会监听自定义事件 (组件用 $emit 触发的事件)。如果要监听根元素的原生事件，可以使用 .native 修饰符，比如：<my-component v-on:click.native="doSomething"></my-component> -->

                          <!-- <MenuItem name="1-2" @click.native="goTo('/nav_left_1_1')">创建</MenuItem> -->
                      </Submenu>
                      <Submenu name="2">
                          <template slot="title">
                              <Icon type="ios-people" />
                              图表展示
                          </template>
                          <MenuItem name="2-1">服务器类型分布图</MenuItem>
                          <MenuItem name="2-2">数据库类型分布图</MenuItem>
                          <MenuItem name="2-3">厅委办OS分布图</MenuItem>
                          <MenuItem name="2-4">厅委办视角</MenuItem>
                          <MenuItem name="2-5">业务视角</MenuItem>
                          <MenuItem name="2-6">系统视角</MenuItem>

                      </Submenu>
                      <Submenu name="3">
                          <template slot="title">
                              <Icon type="ios-stats" />
                              数据表管理
                          </template>
                          <MenuItem name="3-1">厅委办进度表管理</MenuItem>
                          <MenuItem name="3-2">项目基本信息表管理</MenuItem>
                          <MenuItem name="3-3">业务系统信息表管理</MenuItem>
                          <MenuItem name="3-4">数据库信息表管理</MenuItem>
                      </Submenu>
                      <Submenu name="4">
                          <template slot="title">
                              <Icon type="ios-stats" />
                              系统管理
                          </template>
                          <MenuItem name="4-1">操作日志</MenuItem>
                      </Submenu>
                    </Menu>
            </Sider>
              <Content>
                <div class="main_content">
                  <div class="bg"></div>
                  <router-view/>
                </div>
              </Content>
        </Layout>
        <!-- <Footer>Footer</Footer> -->
      </Layout>
    </div>

  </div>
</template>

<script>
  export default {
    name: 'App',
    data () {
      return{
        theme2: 'light'
      }
    },
    methods: {
      goTo(url) {
        console.log(url);
        console.log(this.$router);
        console.log(this.$route);

        this.$router.push({path:url})
      }
    }
  }
</script>

<style lang="scss">
// #app {
//   font-family: 'Avenir', Helvetica, Arial, sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   text-align: center;
//   color: #2c3e50;
// }
// #nav {
//   padding: 30px;
//   a {
//     font-weight: bold;
//     color: #2c3e50;
//     &.router-link-exact-active {
//       color: #42b983;
//     }
//   }
// }
#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // text-align: center;
    color: #2c3e50;
    /* margin-top: 60px; */
    min-width: 950px !important;
    height: 100%;
  }
  html,body{
    width:100%;
    height: 100%;
    min-width: 1280px;
    font-family: 微软雅黑 !important;
    margin: 0;
    padding: 0;
  }
  .layout{
    height: 100%;
    background: #F5F5F5;
    .bg{
      width: 240px;
        background: white;
        position: fixed;
        top: 0;
        bottom: 0;
        z-index: -10;
    }
    .main_content{
      // background: #F5F5F5
    }
  }
  .header-info {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    background: url('./assets/head_img/bg.png') no-repeat scroll center center / 100% 100% border-box border-box;
    .header-left{
      width: 675px;
      display: flex;
      justify-content: space-between;
      align-content: center;

      font-size: 25px;
      background: url('./assets/head_img/logo.png') no-repeat scroll center left 30px / auto 50px content-box border-box;
      a{
        color: white;
        padding-left: 250px;

      }
    }
    .header-right{
      width: 200px;
      background: url('./assets/head_img/getheadimg.jpg') no-repeat scroll center right 140px / auto 50px content-box border-box;
      text-align: right;
      a{
        color: white;
        padding-right: 60px;
      }
    }

  }
  .ivu-layout.ivu-layout-has-sider{
    display: flex;
  }
  .ivu-layout{
    height: 100%;
    background:white;
    overflow: hidden;
    
    .ivu-layout-has-sider{
      .ivu-layout-sider{
        background:white;
      }
      .ivu-layout-content{
        padding-left: 20px;
        background: #F5F5F5;
        overflow: hidden;
        flex: 1;
      }
    }

    .ivu-layout-header{
        height: 60px;
        padding: 0 0;
    }
  }
</style>
